/**
 * @Author: Jahangir Ahmad
 * @Date:   2021-03-26 15:50:30
 * @Last Modified by:   Jahangir Ahmad
 * @Last Modified time: 2021-03-26 15:55:51
 */
* {
  box-sizing: border-box;
}
body {
  background-color: #ccf;
}
textarea {
  width: 400px;
  height: 200px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #00f;
  resize: none;
  overflow: auto;
}
@media (max-width: 420px) {
  textarea {
    width: 100%;
  }
}
button {
  text-align: center;
  margin: 0 auto;
  background-color: #77f;
  color: #fff;
  border: 3px solid #77f;
  border-radius: 6px;
  outline: 0;
}
#btn {
  text-align: center;
}
button:hover,
button:active {
  background-color: #55f;
  border-color: #55f;
}
